@using AskDbWebDemo.Data
@using AskDb.Model
@inject AnswerServiceCaller _answerServiceCaller

@* A form to add a topic providing a key, description and document text *@

<div class="form-group">
    <label>
        Topic Key:
        <input value="@_topic.Key" @onchange="@HandleKeyChange" size="@MaxInput" />
    </label>
</div>

<div class="drop-zone" ondrop="">
    <label>
        Description:
        <input value="@_topic.Description" @onchange="@HandleDescriptionChange" size="@MaxInput" />
        <TextArea @onchange="@HandleDocument">@_fullText</TextArea>
    </label>
</div>

@*Accept dragged text, html or docx file*@
<label>Upload File</label>
<input type="file" id="NewTopicFile" accept=".docx,.html,.txt" />

<button @onclick="AddTopicClicked">Add Topic</button>


@code
{

    //userSid property passed in from container
    [Parameter]
    public string UserSid { get; set; } = null;

    private const int MaxInput = 100;
    private Topic _topic = new();
    private string _fullText = "";

    private void HandleKeyChange(ChangeEventArgs e)
    {
        _topic.Key = e.Value.ToString();
    }  
    private void HandleDescriptionChange(ChangeEventArgs e)
    {
        _topic.Description = e.Value.ToString();
    }

    private void HandleDocument(ChangeEventArgs e)
    {
        _topic.FullText = e.Value.ToString();
    }

    private async Task AddTopicClicked()
    {
        await _answerServiceCaller.CreateTopic(UserSid, _topic);        
    }

    private void HandleUploadedDocument(ChangeEventArgs e)
    {

    }
}